body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(135deg, #0b0f0f, #2f3835, #2a2f2c);
  color:#1b1d1b;
}
#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 20px 4rem;
}

#projects-section app-proyects {
  max-width: 1000px; /* Limitar ancho */
  width: 100%;
}

#experience-learning-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 8rem 20px 45px;
  flex-wrap: wrap;
  box-sizing: border-box;
}


#experience-learning-section {
  width: 100%; /* antes estaba 100vw */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 8rem 20px 45px;
  flex-wrap: wrap;
  box-sizing: border-box;
}


/* Responsive */
@media (max-width: 768px) {
  #experience-learning-section {
    flex-direction: column;
    align-items: center;
  }

  .experience-learning-card {
    max-width: 100%;
  }
}

/* Footer */
#footer {
  width: 100%;
  background:  #424442;
  backdrop-filter: blur(8px);
  color: #eaeaea;
  padding: 2rem 20px;
  text-align: center;
  margin-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#footer p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

#footer a {
  color: #4dabf7;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

#footer a:hover {
  color: #74c0fc;
}

/* Responsive footer */
@media (max-width: 768px) {
  #footer {
    font-size: 0.8rem;
    padding: 1.5rem 10px;
  }
}