<div id="main">
  <nav>
    <a href="#inicio">{{ 'MENU.INICIO' | translate }}</a>
    <a href="#tecnologias">{{ 'MENU.TECNOLOGIAS' | translate }}</a>
    <a href="#experiencia">{{ 'MENU.EXPERIENCIA' | translate }}</a>
    <a href="#formacion">{{ 'MENU.FORMACION' | translate }}</a>
    <a href="#proyectos">{{ 'MENU.PROYECTOS' | translate }}</a>
    <a href="#extras">{{ 'MENU.EXTRAS' | translate }}</a>


    <div class="lang-buttons">
      <button type="button" (click)="changeLang('es')">ES</button>
      <button type="button" (click)="changeLang('en')">EN</button>
    </div>
  </nav>
</div>
