#skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 45px;
}

.skills-card {
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.icons-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

/* Cada grupo (Frontend, Backend, etc.) */
.skill-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Aquí se alinean los iconos en fila horizontal */
.skill-icons {
  display: flex;
  flex-wrap: wrap; /* permite que salten de línea si no caben */
  justify-content: center;
  gap: 2rem;
}

.skill-icons img {
  width: 70px;
  height: 70px;
  transition: transform 0.3s ease;
}

.skill-icons img:hover {
  transform: scale(1.1);
}
