<div class="proyects-card">
  <h2>{{ 'PROYECTOS.TITLE' | translate }}</h2>

  <!-- Proyectos -->
  <div class="projects-container">
    <div class="proyect-item" *ngFor="let project of projects">
      
      <!-- Imagen: si es array, se muestra la primera -->
      <img [src]="getFirstImage(project.img)"
     [alt]="'PROYECTOS.LIST.' + project.key + '.TITLE' | translate"
     class="proyect-image"
     (click)="openProjectImage(project.img)">


      <!-- Contenido -->
      <h3>{{ 'PROYECTOS.LIST.' + project.key + '.TITLE' | translate }}</h3>
      <p>{{ 'PROYECTOS.LIST.' + project.key + '.DESC' | translate }}</p>
      <a [href]="project.link" target="_blank" class="proyect-link">
        {{ 'PROYECTOS.LIST.' + project.key + '.LINK' | translate }}
      </a>

      <div class="tech-container">
        <h4>{{ 'PROYECTOS.TECNOLOGIAS' | translate }}</h4>
        <div class="tech-icons">
          <img *ngFor="let tech of project.techs" [src]="tech" alt="Technology icon" class="tech-icon">
        </div>
      </div>

    </div>
  </div>

  <!-- Botón ver más -->
  <div class="btn-ver-mas-container">
    <button (click)="toggleFullProjects()" class="btn-ver-mas">
      {{ showFullProjects ? ('PROYECTOS.VER_MENOS' | translate) : ('PROYECTOS.VER_MAS' | translate) }}
    </button>
  </div>

  <!-- Modal zoom -->
  <div class="modal" *ngIf="selectedImage" (click)="closeImage()">
    <img [src]="selectedImage" class="modal-image">
  </div>

  <!-- Modal carrusel -->
  <div class="modal-carousel" *ngIf="carouselImages.length" (click)="closeCarousel()">
    <button class="prev-btn" (click)="prevCarouselImage(); $event.stopPropagation()">‹</button>
    
    <img [src]="carouselImages[currentCarouselIndex]" class="carousel-image">

    <button class="next-btn" (click)="nextCarouselImage(); $event.stopPropagation()">›</button>

    <div class="carousel-indicator">
      {{ currentCarouselIndex + 1 }} / {{ carouselImages.length }}
    </div>
  </div>
</div>
