<div id="main-container">
  <app-menu></app-menu>

  <section id="inicio">
    <app-profiles></app-profiles>
  </section>

  <section id="tecnologias">
    <app-skills></app-skills>
  </section>
  
  <section id="experience-learning-section">
    <section id="experiencia">
      <app-expeciencie class="experience-learning-card"></app-expeciencie>
    </section>

    <section id="formacion">
      <app-learning class="experience-learning-card"></app-learning>
    </section>
  </section>

  <section id="proyectos">
    <app-proyects></app-proyects>
  </section>
  <section id="proyectos-completos">
    <app-proyectos-completos></app-proyectos-completos>
  </section>
  <section id="extras">
  </section>
</div>
  <router-outlet></router-outlet>
