#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 20px 4rem;
}

#projects-section app-proyects {
  max-width: 1000px; /* Limitar ancho */
  width: 100%;
}

#experience-learning-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 8rem 20px 45px;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.experience-learning-card {
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  flex: 1 1 450px;          
  max-width: 500px;
  text-align: left;
}

/* Responsive */
@media (max-width: 768px) {
  #experience-learning-section {
    flex-direction: column;
    align-items: center;
  }

  .experience-learning-card {
    max-width: 100%;
  }
}
