<section id="experience-section">
  <div class="experience-card">
    <h2>{{'EXPERIENCIA.TITLE' | translate}}</h2>
    <div *ngFor="let exp of $experiences | async" class="experience-item">
      <h3>{{ exp.position }}</h3>

      <!-- Contenedor para fecha y subtítulo en la misma línea -->
      <div class="subtitle-date">
        <h5>{{ exp.company }}</h5>
        <strong>{{ exp.period }}</strong>
      </div>

      <p *ngFor="let desc of exp.description">{{ desc }}</p>
      <div class="technologies">
        <span *ngFor="let tech of exp.technologies" class="tech-tag">{{ tech }}</span>
      </div>
    </div>
  </div>
</section>
