<section id="experience-section">
  <div class="experience-card">
    <h2>{{'EXPERIENCIA.TITLE' | translate}}</h2>
    <div class="experience-item">
      <h3>{{'EXPERIENCIA.CodeArts-Solution.TITLE' | translate}}</h3>
      
      <!-- Contenedor para fecha y subtítulo en la misma línea -->
      <div class="subtitle-date">
        <h5>{{'EXPERIENCIA.CodeArts-Solution.SUBTITLE' | translate}}</h5>
        <strong>{{'EXPERIENCIA.CodeArts-Solution.DATE' | translate}}</strong>
      </div>

      <p>{{'EXPERIENCIA.CodeArts-Solution.TEXT_LIST.0' | translate}}</p>
      <p>{{'EXPERIENCIA.CodeArts-Solution.TEXT_LIST.1' | translate}}</p>
    </div>
  </div>
</section>
