<section id="extras-section">
  <div class="extras-card">
    <h2>{{ 'EXTRAS.TITLE' | translate }}</h2>

    <div class="extras-list">

      <!-- Intereses -->
      <div class="extras-item">
        <h3>🎯 {{ 'EXTRAS.INTERESTS.TITLE' | translate }}</h3>
        <p>{{ interestsKey | translate }}</p>
      </div>

      <!-- Idiomas -->
      <div class="extras-item">
        <h3>🌍 {{ 'EXTRAS.LANGUAGES.TITLE' | translate }}</h3>
        <p><strong>{{ 'EXTRAS.LANGUAGES.SPANISH' | translate }}:</strong> {{ 'EXTRAS.LANGUAGES.LEVEL.SPANISH' | translate }}</p>
        <p><strong>{{ 'EXTRAS.LANGUAGES.ENGLISH' | translate }}:</strong> {{ 'EXTRAS.LANGUAGES.LEVEL.ENGLISH' | translate }}</p>
      </div>

      <!-- EVENTOS -->
      <div class="extras-item">
        <h3>🎉 {{ 'EXTRAS.EVENTS' | translate }}</h3>
          <ul>
          <li>{{ 'EXTRAS.EVENTS_LIST.0' | translate }}</li>
          <li>{{ 'EXTRAS.EVENTS_LIST.1' | translate }}</li>
          <li>{{ 'EXTRAS.EVENTS_LIST.2' | translate }}</li>
        </ul>
      </div>

      <!-- Reconocimientos -->
      <div class="extras-item">
        <h3>🏆 {{ 'EXTRAS.RECOGNITIONS.TITLE' | translate }}</h3>
        <p>{{ recognitionsKey | translate }}</p>
      </div>

      <!-- Certificados -->
      <div class="extras-item">
        <h3>📜 {{ 'EXTRAS.CERTIFICATES' | translate }}</h3>
        <ul>
          <li>{{ 'EXTRAS.CERTIFICATES_LIST.0' | translate }}</li>
          <li>{{ 'EXTRAS.CERTIFICATES_LIST.1' | translate }}</li>
          <li>{{ 'EXTRAS.CERTIFICATES_LIST.2' | translate }}</li>
        </ul>
      </div>

    </div>
  </div>
</section>
