<section id="extras-section">
  <div class="extras-card">
    <h2>Extras</h2>

    <div class="extras-list">
      <div class="extras-item">
        <h3>🎯 Intereses</h3>
        <p>Me gusta aprender nuevas tecnologías y experimentar con proyectos personales.</p>
      </div>

      <div class="extras-item">
        <h3>🌍 Idiomas</h3>
        <p><strong>Español:</strong> Nativo</p>
        <p><strong>Inglés:</strong> Nivel intermedio (B2)</p>
      </div>

      <div class="extras-item">
        <h3>💡 Hobbies</h3>
        <p>Entrenamiento en gimnasio, Ciclismo, Viajar y edición audiovisual con Photoshop/Premiere Pro.</p>
      </div>
      <div class="extras-item">
        <h3>🏆 Reconocimientos</h3>
        <p>Reconocimiento en mis prácticas por destacar por mi capacidad para aprender rápidamente y mi disposición a asumir nuevos retos.</p>
      </div>

      <div class="extras-item">
        <h3>📜 Certificados</h3>
        <ul>
          <li>English for IT 2 – Cisco</li>
          <li>Desarrollo de aplicaciones con NodeJs y Express – Openwebinars</li>
          <li>Fundamentos de  Angular – Openwebinars</li>
        </ul>
      </div>
    </div>
  </div>
</section>
