<section id="learning-section">
  <div class="learning-card">
    <h2>Estudios</h2>
    <div class="learning-item">
        <div class="Cesur">
            <h3>Cesur</h3>
            <p>Desarrollo de Aplicaciones Multiplataforma</p>
        </div>
        <div class="SantaMaria">
            <h3>Santa Maria de los Apostoles</h3>
            <p>Ciclo formativo en sistemas microinformaticos y redes. Aprendi a instalar, configurar y mantener redes locales cableadas e inalámbricas, configurar sistemas operativos, manejar hojas de cálculo, base de datos, aplicar protocolos de seguridad en equipos informáticos, etc. Administración de sitios web, implementación de aplicaciones web y en la instalación y configuración servidores de internet como DNS, FTP y correo WEB</p>
        </div>
    </div>
  </div>
</section>
