<section id="learning-section">
  <div class="learning-card">
    <h2>Estudios</h2>
    <div class="learning-item">
      <div class="Cesur">
        <h3>Cesur <span class="dates">Sep.2022 - Ene.2025</span></h3>
        <p>Desarrollo de Aplicaciones Multiplataforma.</p>
      </div>
      <div class="SantaMaria">
        <h3>Santa Maria de los Apostoles <span class="dates">Sep.2020 - Jun.2022</span></h3>
        <p>Ciclo formativo en sistemas microinformaticos y redes.</p>
      </div>
    </div>
  </div>
</section>
