#learning-section {
  width: 100%;
  max-width: 500px; 
  text-align: center;
  padding: 0 20px 45px;
  box-sizing: border-box;
}

.learning-card {
  box-sizing: border-box;
    padding: 0 20px 45px;
}

.learning-card h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

/* Contenedor de los estudios */
.learning-item {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

/* Cada bloque de estudio */
.learning-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: white;
}

.learning-item p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.dates {
  font-weight: normal;
  margin-left: 4rem;
  color: #a19f9f; 
  font-size: 1rem;
}

/* Responsive para móvil */
@media (max-width: 768px) {
  #learning-section {
    max-width: 100%;
    padding: 1rem 1.5rem; 
  }
  
  .learning-card {
    padding: 1.5rem 1rem; 
  }

  .learning-card h2 {
    font-size: 1.75rem; 
  }

  .learning-item h3 {
    font-size: 1.1rem; 
  }

  .learning-item p {
    font-size: 0.95rem; 
  }
}
