<section id="learning-section">
  <div class="learning-card">
    <h2>{{ 'LEARNING.TITLE' | translate }}</h2>

    <div class="learning-description">
      <p>{{ 'LEARNING.TEXT_LIST' | translate }}</p>
    </div>

    <div class="learning-item">
      <div class="Cesur">
        <h3>
          {{ 'LEARNING.CESUR.TITLE' | translate }}
          <span class="dates">{{ 'LEARNING.CESUR.DATE' | translate }}</span>
        </h3>
        <p>{{ 'LEARNING.CESUR.DESC' | translate }}</p>
      </div>
      
      <div class="SantaMaria">
        <h3>
          {{ 'LEARNING.SANTAMARIA.TITLE' | translate }}
          <span class="dates">{{ 'LEARNING.SANTAMARIA.DATE' | translate }}</span>
        </h3>
        <p>{{ 'LEARNING.SANTAMARIA.DESC' | translate }}</p>
      </div>
    </div>
  </div>
</section>
