<section class="section" id="profile">
  <div class="container">
    <div class="profile-card">
      <app-avatar
        [imageUrl]="'https://avatars.githubusercontent.com/u/126710522?v=4'"
        [alt]="'Foto de perfil de GitHub'"
        [size]="200"
      ></app-avatar>
      <div class="profile-text">
        <p>
          Desarrollador Full Stack Junior | Experiencia en Python, Angular, Spring Boot, Symfony, Drupal y AWS | Apasionado por la tecnología y la resolución de problemas
        </p>
        <div class="profile-links">
          <a href="https://www.linkedin.com/in/marcos-bazan-003031200/" target="_blank"  rel="noopener noreferrer" aria-label="LinkedIn">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn" />
          </a>
          <a href="https://github.com/marcos318888" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
            <!-- GitHub SVG con viewBox 24x24 -->
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
              <path d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.726-4.042-1.61-4.042-1.61-.546-1.388-1.333-1.757-1.333-1.757-1.09-.745.083-.73.083-.73 1.205.085 1.84 1.237 1.84 1.237 1.07 1.835 2.807 1.305 3.492.997.108-.774.42-1.305.763-1.605-2.665-.305-5.467-1.334-5.467-5.933 0-1.31.47-2.38 1.236-3.22-.124-.303-.536-1.527.117-3.176 0 0 1.008-.322 3.3 1.23.96-.267 1.98-.4 3-.405 1.02.005 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.655 1.65.243 2.873.12 3.176.77.84 1.235 1.91 1.235 3.22 0 4.61-2.805 5.625-5.475 5.922.43.37.81 1.1.81 2.22 0 1.605-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 21.795 24 17.295 24 12c0-6.63-5.37-12-12-12z"/>
            </svg>
          </a>
          <a href="mailto:marcosbazanf@hotmail.com" target="_blank" rel="noopener noreferrer" aria-label="Correo">
            <!-- Email SVG con viewBox 24x24 -->
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linejoin="round" stroke-linecap="round">
    <rect x="2" y="4" width="20" height="16" rx="2" ry="2"/>
    <path d="M22 6L12 13 2 6"/>
              </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
