.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 1rem;
}

.profile-card {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.profile-avatar {
  display: inline-block;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 6px 10px rgba(0,0,0,0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  max-width: 100%;
  height: auto;
}

.profile-avatar:hover {
  transform: translateY(-20px) scale(1.08);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

.profile-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
}

.profile-links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.profile-links a svg {
  width: 28px;
  height: 28px;
  fill: white; /* Color inicial blanco */
  transition: transform 0.3s ease, fill 0.3s ease;
}

.profile-links a:hover svg {
  transform: translateY(-5px);
  fill: #0072c6; /* Cambia a azul al hacer hover */
  cursor: pointer;
}

/* Contenedor para el botón disponible */
.available-link-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.available-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem; /* ancho y alto ajustados */
  border-radius: 9999px; /* bordes redondeados tipo píldora */
  background-color: lightgreen;
  color: white;
  box-shadow: 0 6px 10px rgba(0, 114, 198, 0.4);
  pointer-events: none;
  cursor: default;
}



