/* Igual estructura y espaciado que skills-section */
#experience-section {
  display: flex;
  justify-content: center;
   padding: 0 20px 45px;
  
}

.experience-card {
  width: 100%;
  max-width: 960px;
  padding: 1rem;
  text-align: left;
}

/* Estilo del título principal */
.experience-card h2 {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Subtítulos y texto */
.experience-item {
  font-size: 1rem;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.experience-item h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.experience-item p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.4rem;
}
