<section id="experience-section">
  <div class="experience-card">
    <h2>Experiencia</h2>
    <div class="experience-item">
      <h3>Desarrollador Web Frontend</h3>
      <p>CodeArts Solution - Nov.2024 - Feb.2025</p>
      <p>● Modificación y creación de módulos: Ha trabajado con Webform, Paragraph, Metatag, Assets Injector y Facets, adaptándolos a las necesidades específicas del proyecto.</p>
      <p>● Desarrollo y ajustes en el código base: Implementación de mejoras en HTML, TWIG, CSS y JavaScript para optimizar la apariencia y funcionalidad del sitio web.</p>
      <p>● Creación de rutas personalizadas: Implementación de páginas con rutas específicas según los requisitos del proyecto.</p>
      <p>● Desarrollo de temas personalizados: Creación y modificación de temas secundarios para mejorar la apariencia del sitio.</p>
      <p>● Integración con Google Analytics: Implementación y configuración de herramientas de análisis para realizar un seguimiento del tráfico web.</p>
      <p>● Gestión de usuarios y permisos: configuración de roles y permisos específicos para una gestión más eficiente del sitio.</p>
      <p>● Personalización de la apariencia: creación de plantillas, modificaciones de la identidad visual y la adición de botones para redes sociales.</p>
    </div>
  </div>
</section>
